$breakpoints: (
    tablet: 768px,
    small-desktop-hd: 1200px,
    desktop-hd: 1366px,
    desktop-fhd: 1920px,
);

// mixin mobile first
@mixin media-up ($breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

// mixin flexbox
@mixin display-flex($direction, $align-items, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align-items;
    justify-content: $justify;
}

// mixin grid rows
@mixin display-grid-n-rows($rows) {
    display: grid;
    grid-template-rows: repeat($rows, auto);
}