// Color variables

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$black-semi-transparent: rgba(0, 0, 0, 0.7);
$black-shadow: rgba(0, 0, 0, 0.2);
$brown: rgb(165, 106, 50);
$light-brown: #cdbeaa;
$linen: #f3ece385;
$purple: rgb(73, 6, 59);
$midnight-blue: rgb(8, 0, 14);
$midnight-blue-gradient: linear-gradient(90deg,
        rgba(19, 2, 32, 1) 0%,
        rgba(8, 0, 14, 1) 100%);