@import "base/reset";
@import "base/typo";

@import "utilities/variables";
@import "utilities/mixins";

@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "layout/obras-galery";

@import "components/estudio-card";
@import "components/estudio-attributes-card";
@import "components/servicio-card";

.content {
    @include svg-background();
    height: auto;
}

.portada {
    height: 50rem;
    background-image: url(../img/index/portada.jpg);
    background-color: $black-semi-transparent;
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;

    @include display-flex(row, center, flex-start);
}

.section-attributes-cards {
    width: 100%;
    padding: 2rem 0;
    display: grid;
    grid-template-rows: auto;
    @include svg-background();
}

.sobre-nosotros {
    @include display-flex(column, center, center);

    margin: 0 auto;
    padding: 2rem;

    &__image {
        width: 100%;
        border-radius: 2rem;
    }
}

.contact {
    @include display-flex(column, center, center);

    margin: 0 auto;
    padding: 2rem;
    height: 100%;
    max-width: 120rem;

    &__card {
        width: 100%;
        padding: 1rem;
        color: $white;
        background: $midnight-blue-gradient;
        border-radius: 1rem;
        padding: 2rem;
        margin-bottom: 2rem;
    }

    &__ubication {
        padding: 1rem;
        width: 100%;

        iframe {
            width: 100%;
            height: 30rem;
        }
    }
}

.servicio-cards-container {
    @include display-flex(column, center, center);

    width: 100%;
    margin: 0 auto;
    padding: 0.5rem 0.5rem;
}

@include media-up("tablet") {
    .portada {
        height: 60rem;
    }

    .section-attributes-cards {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }

    .contact {
        &__ubication {
            iframe {
                height: 35rem;
            }
        }
    }
}

@include media-up("small-desktop-hd") {
    .servicio-cards-container {
        padding: 4rem 0;
    }

    .sobre-nosotros {
        max-width: 120rem;
    }

    .contact {
        &__card {
            max-width: 120rem;
        }
    }
}

@include media-up("desktop-hd") {
    .section-attributes-cards {
        grid-template-columns: repeat(4, auto);
    }
}

@include media-up(desktop-fhd) {
    .section-attributes-cards {
        padding-left: 9rem;
        padding-right: 9rem;
    }
}