.servicio-cards-container {
    @include display-flex(column, center, center);
    width: 100%;
    gap: 2rem;
    margin: 0 auto;
    padding: 0.5rem 3rem;
}

.servicio-card {
    @include display-flex(column-reverse, center, center);
    height: 40rem;
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    background: $white;
    box-shadow: 0rem 0.2rem 0.2rem $black-shadow;

    &:hover &__img img {
        transform: scale(1.02);
    }

    &__img {
        flex: 50%;
        height: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 1rem;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: 1s ease transform;
            opacity: 0.9;
        }
    }

    &__text {
        padding: 2rem;
        flex: 50%;
        height: 100%;

        @include display-flex(column, flex-start, flex-start);

        h4 {
            font-size: 2.6rem;
            font-weight: bold;
        }

        .nav-pills {
            gap: 1rem;
            flex-wrap: wrap;

            .nav-item .nav-link {
                border-radius: 2rem;
                font-weight: bold;
                font-size: 1.4rem;
                background: $pill-bg-color;
                color: $white;

                &.active,
                &:hover {
                    color: $pill-active-color;
                    background: $pill-active-bg-color;
                }
            }
        }

        .tab-pane {
            font-size: 2rem;
            color: rgb(42, 39, 39);
        }
    }
}

@include media-up("tablet") {
    .servicio-card {
        &__text {
            h4 {
                font-size: 4.5rem;
            }

            h6 {
                font-size: 2.5rem;
                font-weight: 500;
            }

            p {
                font-size: 1.5rem;
            }
        }
    }
}

@include media-up("small-desktop-hd") {
    .servicio-cards-container {
        padding: 4rem 0;
    }

    .servicio-card {
        flex-direction: row;
        max-width: 120rem;
        height: 40rem;

        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }
}