html {
    font-size: 62.5%;
}

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Hind", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.basic-text {
    width: 100%;
    font-size: 2rem;

    p {
        padding: 1rem 0.5rem;
    }
}

.basic-title h1 {
    font-size: 3rem;
}