@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    font-size: 62.5%;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #D4F5F5;
}


.header {
    background-color: #D9E5E8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    padding: 1rem;
}

.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 7rem;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.05);
}

.header .navbar__list li {
    display: inline-block;
    padding: 2rem;
    transition: all 0.3s;
}

.header .navbar__list li:hover {
    transform: scale(1.05);
}

.header .navbar__list a {
    font-size: 3rem;
    color: black;
    text-decoration: none;
    transition: all 0.3s;
}

.header .navbar__list a:hover {
    color: rgba(27, 116, 116, 1);
}

.index-content {
    position: relative;
    width: 100%;
    margin: 0;
}

.portade-image {
    position: relative;
    width: 100%;
    margin: 0;
}

.estudio-card {
    position: absolute;
    bottom: 40%;
    margin-left: 10%;
    margin-right: 55%;
    background-color: rgba(212, 245, 245, 0.5);
    border: none;
    padding: 2rem;
}

.estudio-card__title {
    font-size: 6rem;
    padding: 1rem;
    color: #050517;
}

.estudio-card__subtitle {
    font-size: 4rem;
    font-style: italic;
    padding: 1rem;
    color: #050517;
}

.estudio-card__paragraph {
    padding: 1rem;
    font-size: 2rem;
    font-style: italic;
    color: #050517;
}

.section-attributes-cards {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.658);

    bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;
}

.estudio-attributes-card {
    padding: 2rem;
    text-align: center;
}

.estudio-attributes-card__image {
    width: 20rem;
}

.estudio-attributes-card__title {
    font-size: 2rem;
    color: #D9E5E8;
}

.footer-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.social-button {
    color: rgb(0, 0, 0);
}

.footer__social-icons {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.footer__social-icons i {
    font-size: 4rem;
    padding: 1rem;
    transition: all 0.3s;
}

.footer__social-icons i:hover {
    color: rgba(27, 116, 116, 1);
    transform: scale(1.05);
}

.footer__contact-title h4 {
    font-size: 3rem;
}

.footer__copyright p {
    font-size: 1.5rem;
}

.obras-galery__row {
    display: flex;
    padding: 1rem;
}

.obras-galery__column {
    padding: 1rem;
    flex: 20%;
}

.obras-galery__image {
    width: 100%;
    margin-top: 1rem;
}