@import url("https://fonts.googleapis.com/css2?family=Hind&family=Montserrat&display=swap");
html {
  font-size: 62.5%;
}

* {
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Hind", sans-serif;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.grid-layout-index {
  display: grid;
  grid-template-rows: repeat(4, auto);
}

.grid-layout-pages {
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.content {
  background-color: #cdbeaa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='200' viewBox='0 0 160 80'%3E%3Cg fill='%23B19C7F' fill-opacity='0.12'%3E%3Cpolygon points='0 10 0 0 10 0'/%3E%3Cpolygon points='0 40 0 30 10 30'/%3E%3Cpolygon points='0 30 0 20 10 20'/%3E%3Cpolygon points='0 70 0 60 10 60'/%3E%3Cpolygon points='0 80 0 70 10 70'/%3E%3Cpolygon points='50 80 50 70 60 70'/%3E%3Cpolygon points='10 20 10 10 20 10'/%3E%3Cpolygon points='10 40 10 30 20 30'/%3E%3Cpolygon points='20 10 20 0 30 0'/%3E%3Cpolygon points='10 10 10 0 20 0'/%3E%3Cpolygon points='30 20 30 10 40 10'/%3E%3Cpolygon points='20 20 20 40 40 20'/%3E%3Cpolygon points='40 10 40 0 50 0'/%3E%3Cpolygon points='40 20 40 10 50 10'/%3E%3Cpolygon points='40 40 40 30 50 30'/%3E%3Cpolygon points='30 40 30 30 40 30'/%3E%3Cpolygon points='40 60 40 50 50 50'/%3E%3Cpolygon points='50 30 50 20 60 20'/%3E%3Cpolygon points='40 60 40 80 60 60'/%3E%3Cpolygon points='50 40 50 60 70 40'/%3E%3Cpolygon points='60 0 60 20 80 0'/%3E%3Cpolygon points='70 30 70 20 80 20'/%3E%3Cpolygon points='70 40 70 30 80 30'/%3E%3Cpolygon points='60 60 60 80 80 60'/%3E%3Cpolygon points='80 10 80 0 90 0'/%3E%3Cpolygon points='70 40 70 60 90 40'/%3E%3Cpolygon points='80 60 80 50 90 50'/%3E%3Cpolygon points='60 30 60 20 70 20'/%3E%3Cpolygon points='80 70 80 80 90 80 100 70'/%3E%3Cpolygon points='80 10 80 40 110 10'/%3E%3Cpolygon points='110 40 110 30 120 30'/%3E%3Cpolygon points='90 40 90 70 120 40'/%3E%3Cpolygon points='10 50 10 80 40 50'/%3E%3Cpolygon points='110 60 110 50 120 50'/%3E%3Cpolygon points='100 60 100 80 120 60'/%3E%3Cpolygon points='110 0 110 20 130 0'/%3E%3Cpolygon points='120 30 120 20 130 20'/%3E%3Cpolygon points='130 10 130 0 140 0'/%3E%3Cpolygon points='130 30 130 20 140 20'/%3E%3Cpolygon points='120 40 120 30 130 30'/%3E%3Cpolygon points='130 50 130 40 140 40'/%3E%3Cpolygon points='120 50 120 70 140 50'/%3E%3Cpolygon points='110 70 110 80 130 80 140 70'/%3E%3Cpolygon points='140 10 140 0 150 0'/%3E%3Cpolygon points='140 20 140 10 150 10'/%3E%3Cpolygon points='140 40 140 30 150 30'/%3E%3Cpolygon points='140 50 140 40 150 40'/%3E%3Cpolygon points='140 70 140 60 150 60'/%3E%3Cpolygon points='150 20 150 40 160 30 160 20'/%3E%3Cpolygon points='150 60 150 50 160 50'/%3E%3Cpolygon points='140 70 140 80 150 80 160 70'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  height: auto;
}

header {
  background-color: rgb(8, 0, 14);
  padding: 1rem;
}
header .nav-logo {
  height: 4rem;
  width: auto;
  transition: all 0.3s;
  filter: invert(100%);
}
header .nav-logo:hover {
  transform: scale(1.05);
}

.portada {
  height: 50rem;
  background-image: url(../img/index/portada.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.estudio-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: rgb(255, 255, 255);
}
.estudio-card__title {
  font-size: 4.5rem;
}
.estudio-card__paragraph {
  padding: 0.5rem;
  font-size: 2rem;
  font-style: italic;
}

.section-attributes-cards {
  width: 100%;
  padding: 2rem 0;
  display: grid;
  grid-template-rows: auto;
  background-color: #cdbeaa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='200' viewBox='0 0 160 80'%3E%3Cg fill='%23B19C7F' fill-opacity='0.08'%3E%3Cpolygon points='0 10 0 0 10 0'/%3E%3Cpolygon points='0 40 0 30 10 30'/%3E%3Cpolygon points='0 30 0 20 10 20'/%3E%3Cpolygon points='0 70 0 60 10 60'/%3E%3Cpolygon points='0 80 0 70 10 70'/%3E%3Cpolygon points='50 80 50 70 60 70'/%3E%3Cpolygon points='10 20 10 10 20 10'/%3E%3Cpolygon points='10 40 10 30 20 30'/%3E%3Cpolygon points='20 10 20 0 30 0'/%3E%3Cpolygon points='10 10 10 0 20 0'/%3E%3Cpolygon points='30 20 30 10 40 10'/%3E%3Cpolygon points='20 20 20 40 40 20'/%3E%3Cpolygon points='40 10 40 0 50 0'/%3E%3Cpolygon points='40 20 40 10 50 10'/%3E%3Cpolygon points='40 40 40 30 50 30'/%3E%3Cpolygon points='30 40 30 30 40 30'/%3E%3Cpolygon points='40 60 40 50 50 50'/%3E%3Cpolygon points='50 30 50 20 60 20'/%3E%3Cpolygon points='40 60 40 80 60 60'/%3E%3Cpolygon points='50 40 50 60 70 40'/%3E%3Cpolygon points='60 0 60 20 80 0'/%3E%3Cpolygon points='70 30 70 20 80 20'/%3E%3Cpolygon points='70 40 70 30 80 30'/%3E%3Cpolygon points='60 60 60 80 80 60'/%3E%3Cpolygon points='80 10 80 0 90 0'/%3E%3Cpolygon points='70 40 70 60 90 40'/%3E%3Cpolygon points='80 60 80 50 90 50'/%3E%3Cpolygon points='60 30 60 20 70 20'/%3E%3Cpolygon points='80 70 80 80 90 80 100 70'/%3E%3Cpolygon points='80 10 80 40 110 10'/%3E%3Cpolygon points='110 40 110 30 120 30'/%3E%3Cpolygon points='90 40 90 70 120 40'/%3E%3Cpolygon points='10 50 10 80 40 50'/%3E%3Cpolygon points='110 60 110 50 120 50'/%3E%3Cpolygon points='100 60 100 80 120 60'/%3E%3Cpolygon points='110 0 110 20 130 0'/%3E%3Cpolygon points='120 30 120 20 130 20'/%3E%3Cpolygon points='130 10 130 0 140 0'/%3E%3Cpolygon points='130 30 130 20 140 20'/%3E%3Cpolygon points='120 40 120 30 130 30'/%3E%3Cpolygon points='130 50 130 40 140 40'/%3E%3Cpolygon points='120 50 120 70 140 50'/%3E%3Cpolygon points='110 70 110 80 130 80 140 70'/%3E%3Cpolygon points='140 10 140 0 150 0'/%3E%3Cpolygon points='140 20 140 10 150 10'/%3E%3Cpolygon points='140 40 140 30 150 30'/%3E%3Cpolygon points='140 50 140 40 150 40'/%3E%3Cpolygon points='140 70 140 60 150 60'/%3E%3Cpolygon points='150 20 150 40 160 30 160 20'/%3E%3Cpolygon points='150 60 150 50 160 50'/%3E%3Cpolygon points='140 70 140 80 150 80 160 70'/%3E%3C/g%3E%3C/svg%3E");
}

.estudio-attributes-card-container {
  padding: 1rem 0;
}

.estudio-attributes-card {
  width: 33rem;
  height: 47rem;
  border-radius: 0.8rem;
  box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  margin: auto;
  background-color: rgba(243, 236, 227, 0.5215686275);
  transition: all 0.25s;
}
.estudio-attributes-card:hover {
  transform: translateY(-1.5rem);
  box-shadow: 0 1.2rem 1.6rem rgba(0, 0, 0, 0.2);
}
.estudio-attributes-card__image {
  width: 33rem;
  height: 22rem;
}
.estudio-attributes-card__title {
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
  padding: 1rem;
}
.estudio-attributes-card__paragraph {
  font-size: 1.5rem;
  margin: 0rem auto 1.5rem;
  color: rgb(0, 0, 0);
}
.estudio-attributes-card__link {
  font-size: 1.5rem;
  margin: auto;
  padding-top: 1rem;
  text-decoration: underline;
  color: rgb(165, 106, 50);
}

footer {
  background-color: rgb(8, 0, 14);
  padding-top: 2rem;
  color: rgb(255, 255, 255);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
}
.footer-content__copyright {
  font-size: 1.8rem;
}
.footer-content__contact {
  font-size: 1.5rem;
}
.footer-content__social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-content__social-icons i {
  font-size: 2rem;
  padding: 2rem 0.7rem 2rem;
  transition: all 0.3s;
}
.footer-content__social-icons i:hover {
  color: rgb(165, 106, 50);
  transform: scale(1.05);
}

.social-button {
  color: rgb(255, 255, 255);
}

.footer-bottom {
  text-align: center;
  background-color: rgb(0, 0, 0);
  font-size: 1.5rem;
  padding: 2rem 0;
}
.footer-bottom a {
  color: rgb(73, 6, 59);
}

.obras-galery {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.5rem;
}
.obras-galery__image {
  padding: 1rem;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
.obras-galery__image:hover {
  width: 100%;
  transform: scale(1.03);
}

.sobre-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
}
.sobre-nosotros__image {
  width: 100%;
  border-radius: 2rem;
}

.basic-text {
  width: 100%;
  font-size: 2rem;
}
.basic-text p {
  padding: 1rem 0.5rem;
}

.basic-title {
  font-size: 3rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  height: 100%;
  max-width: 120rem;
}
.contact__card {
  width: 100%;
  padding: 1rem;
  color: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(19, 2, 32) 0%, rgb(8, 0, 14) 100%);
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
}
.contact__ubication {
  padding: 1rem;
  width: 100%;
}
.contact__ubication iframe {
  width: 100%;
  height: 30rem;
}

.servicio-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 0.5rem;
}

.servicio-card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  min-height: 40rem;
  width: 100%;
  overflow: hidden;
}
.servicio-card:hover .servicio-card__img img {
  transform: scale(1.1);
}
.servicio-card__img {
  flex: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.servicio-card__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 1s ease transform;
  opacity: 0.9;
}
.servicio-card__text {
  padding: 2rem;
  flex: 50%;
  height: 100%;
  background: linear-gradient(90deg, rgb(19, 2, 32) 0%, rgb(8, 0, 14) 100%);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.servicio-card__text h4 {
  font-size: 2.6rem;
  font-weight: 500;
}
.servicio-card__text h6 {
  color: #cdbeaa;
  margin-top: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
}
.servicio-card__text p {
  font-size: 1.2rem;
  margin-top: 0rem;
}
.servicio-card__text ul {
  padding: 0.5rem 1rem;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .portada {
    height: 60rem;
  }
  .estudio-card__title {
    font-size: 6rem;
  }
  .estudio-card__paragraph {
    padding: 1rem;
    font-size: 2.3rem;
  }
  .section-attributes-cards {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }
  .obras-galery {
    grid-template-columns: repeat(2, 1fr);
  }
  .obras-galery__image-container:nth-child(5) {
    grid-column-start: span 2;
  }
  .obras-galery__image-container:nth-child(14) {
    grid-column-start: span 2;
  }
  .obras-galery__image-container:nth-child(27) {
    grid-column-start: span 2;
  }
  .obras-galery__image {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .servicio-card__text h4 {
    font-size: 4.5rem;
  }
  .servicio-card__text h6 {
    font-size: 2.5rem;
    font-weight: 500;
  }
  .servicio-card__text p {
    font-size: 1.5rem;
  }
  .contact__ubication iframe {
    height: 35rem;
  }
}
@media screen and (min-width: 1200px) {
  .footer__copyright {
    font-size: 2rem;
  }
  .footer__contact {
    font-size: 1.5rem;
  }
  .obras-galery {
    grid-template-columns: repeat(3, 1fr);
  }
  .obras-galery__image-container:nth-child(7) {
    grid-column-start: span 2;
  }
  .obras-galery__image-container:nth-child(27) {
    grid-column-start: span 1;
  }
  .servicio-cards-container {
    padding: 4rem 0;
  }
  .servicio-card {
    flex-direction: row;
    max-width: 120rem;
    height: 40rem;
  }
  .servicio-card:nth-child(even) {
    flex-direction: row-reverse;
  }
  .sobre-nosotros {
    max-width: 120rem;
  }
  .contact__card {
    max-width: 120rem;
  }
}
@media screen and (min-width: 1366px) {
  .section-attributes-cards {
    grid-template-columns: repeat(4, auto);
  }
  .estudio-attributes-card {
    width: 33rem;
  }
}
@media screen and (min-width: 1920px) {
  .section-attributes-cards {
    padding-left: 9rem;
    padding-right: 9rem;
  }
  .obras-galery {
    grid-template-columns: repeat(4, 1fr);
  }
  .obras-galery__image-container:nth-child(3) {
    grid-column-start: span 2;
  }
  .obras-galery__image-container:nth-child(27) {
    grid-column-start: span 2;
  }
}/*# sourceMappingURL=style.css.map */