.section-attributes-cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 90%;
    padding: 50px 20px;
    @include svg-background();
}

@include media-up("tablet") {
    .section-attributes-cards {

    }
}

@include media-up("desktop-hd") {
    .section-attributes-cards {
    }
}

@include media-up("desktop-fhd") {
    .section-attributes-cards {
    }
}